<div class="sharezone-container">
    <div class="input-form" novalidate>
        <form [formGroup]="formGroup" class="form" fxLayout="row wrap" fxLayoutGap="16px">
            <mat-form-field fxFlex=32%>
                <mat-label>Buy / Sell</mat-label>
                <mat-select required formControlName="type" [(value)]="selected">
                    <mat-option value="buy">Buy</mat-option>
                    <mat-option value="sell">Sell</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex=32% *ngIf="type == 'index_future' || type == 'index_options'">
                <input type="text" placeholder="Indicies Names" matInput required formControlName="index"
                    [matAutocomplete]="autoIndicies">
                <mat-autocomplete #autoIndicies="matAutocomplete" [displayWith]="displayIndiciesListFn">
                    <mat-option *ngFor="let item of filteredIndiciesListOptions | async" [value]="item">
                        {{item.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field fxFlex=32%
                *ngIf="type == 'equity_future' || type == 'equity_future' || type == 'equity_options' || type == 'equity'">
                <input type="text" placeholder="Equity Names" matInput required formControlName="equity"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayStockListFn">
                    <mat-option *ngFor="let item of filteredStockListOptions | async" [value]="item">
                        {{item.name}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field fxFlex=32% *ngIf="type == 'index_options' || type == 'equity_options'">
                <mat-label>Options</mat-label>
                <mat-select required formControlName="options_type" [(value)]="selected">
                    <mat-option value="call">Call</mat-option>
                    <mat-option value="put">Put</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex=32% *ngIf="type == 'index_future' || type == 'equity_future'">
                <mat-label>Future Date</mat-label>
                <mat-select required formControlName="future_date">
                    <mat-option *ngFor="let item of futuresDateList" [value]="item">{{item | date:'medium'}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex=32%
                *ngIf="type == 'index_future' || type == 'index_options' || type == 'equity_future' || type == 'equity_options' || type == 'equity'">
                <input formControlName="trigger_price" matInput placeholder="Trigger Price" type="number">
                <span matPrefix>$&nbsp;</span>
            </mat-form-field>
            <mat-form-field fxFlex=32%
                *ngIf="type == 'index_future' || type == 'index_options' || type == 'equity_future' || type == 'equity_options' || type == 'equity'">
                <input formControlName="stop_loss" matInput placeholder="Stop Loss" type="number">
                <span matPrefix>$&nbsp;</span>
            </mat-form-field>
            <mat-form-field fxFlex=32% fxLayoutGap="8px">
                <input formControlName="target" matInput placeholder="Target" type="text">
            </mat-form-field>
        </form>
        <button class="flat-btn" mat-raised-button color="primary" type="submit"
            (click)="onSubmit(formGroup.value)">Send</button>
    </div>
</div>