.call-messages-container {
    margin: 16px 0;
    ul {
        list-style: none;
        padding-left: 0;
        li {
            .mat-card {
                margin: 8px 0;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                .call {
                    display: flex;
                    .mat-card-item {
                        padding: 0 32px 0 0;
                        text-transform: uppercase;
                    }
                }
               .button-row {
                   .btn {
                       opacity: 0.3;
                   }
                   .btn:hover {
                    opacity: 1;
                }
               }
            }
        }
    }    
}