<div class="call-messages-container">
    <ul class="list-unstyled">
        <li *ngFor="let call of callsList;let i=index">
            <mat-card class="mat-card"
                *ngIf="call.shareCallType=='index_future' || call.shareCallType=='index_options'
                || call.shareCallType=='equity_future'  || call.shareCallType=='equity_options' || call.shareCallType=='equity'">
                <div class="call">
                    <span class="mat-card-item">{{i+1}}</span>
                    <span class="mat-card-item">{{currentDate | date:'medium'}}</span>
                    <span class="mat-card-item" *ngIf="call.type"
                        [ngClass]="{'text-success': call.type == 'buy', 'text-danger': call.type == 'sell'}">{{call.type}}</span>
                    <span class="mat-card-item" *ngIf="call.index">{{call.index}}</span>
                    <span class="mat-card-item" *ngIf="call.equity">{{call.equity}}</span>
                    <span class="mat-card-item" *ngIf="call.future_date">{{call.future_date}}</span>
                    <span class="mat-card-item" *ngIf="call.option_type"
                        [ngClass]="{'text-success': call.option_type == 'call', 'text-danger': call.option_type == 'put'}">{{call.option_type}}</span>
                    <span class="mat-card-item"
                        *ngIf="call.trigger_price">{{'SP @' + '&nbsp;' + call.trigger_price}}</span>
                    <span class="mat-card-item" *ngIf="call.stop_loss">{{'SL @' + '&nbsp;' + call.stop_loss}}</span>
                    <span class="mat-card-item" *ngIf="call.target">
                        <div *ngFor="let item of call.target;let i=index">
                            T{{i+1}} &nbsp;:&nbsp; {{item}}
                        </div>
                    </span>
                </div>
                <span class="button-row">
                    <button mat-icon-button>
                        <mat-icon class="text-info btn">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteCall(call)">
                        <mat-icon class="text-danger btn">delete_forever</mat-icon>
                    </button>
                </span>
            </mat-card>


            <!-- for type custom  -->
            <mat-card class="mat-card" *ngIf="call.shareCallType=='custom'">
                <div class="call">
                    <span class="mat-card-item">{{i+1}}</span>
                    <span class="mat-card-item">{{call.custom}}</span>
                </div>
                <span class="button-row">
                    <button mat-icon-button>
                        <mat-icon class="text-info btn">edit</mat-icon>
                    </button>
                    <button mat-icon-button (click)="deleteCall(call)">
                        <mat-icon class="text-danger btn">delete_forever</mat-icon>
                    </button>
                </span>
            </mat-card>


        </li>
    </ul>
</div>