<div class="add-customer-container">
    <form [formGroup]="customerForm" class="form" fxLayout="row wrap" fxLayoutGap="16px">
        <mat-form-field fxFlex=50%>
            <input type="text" placeholder="Name" matInput required formControlName="name">
        </mat-form-field>
        <mat-form-field fxFlex=50%>
            <input type="text" placeholder="Phone Number" matInput required formControlName="phone_number">
        </mat-form-field>
        <button class="flat-btn" mat-raised-button color="primary" type="submit"
            (click)="createCustomer(customerForm.value)">Create Customer</button>
    </form>
</div>