<div class="sharezone-base-container" [class.sharezone-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="sharezone-toolbar" *ngIf="!hideToolBar">
    <button mat-icon-button (click)="sidenav.toggle()" *ngIf="userLoggedIn">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="sharezone-app-name">ShareZone</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sharezone-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [mode]="over" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <mat-list-item fxLayout="row" [routerLink]="['/dashboard']" routerLinkActive="router-link-active"
          (click)="toggleSideNav()" class="sharezone-list-item">
          <h3 matLine fxLayoutAlign="center center"><i class="material-icons">dashboard</i>Dashboard</h3>
        </mat-list-item>
        <mat-list-item fxLayout="row" [routerLink]="['/customer-list']" routerLinkActive="router-link-active"
          (click)="sidenav.close();" class="sharezone-list-item">
          <h3 matLine fxLayoutAlign="center center"><i class="material-icons">dashboard</i>Customer</h3>
        </mat-list-item>
        <mat-list-item fxLayout="row" [routerLink]="['/statistics']" routerLinkActive="router-link-active"
          (click)="sidenav.close();" class="sharezone-list-item">
          <h3 matLine fxLayoutAlign="center center"><i class="material-icons">timeline</i>Statistics</h3>
        </mat-list-item>
        <mat-list-item fxLayout="row" [routerLink]="['/settings']" routerLinkActive="router-link-active"
          (click)="sidenav.toggle()" class="sharezone-list-item">
          <h3 matLine fxLayoutAlign="center center"><i class="material-icons">settings_applications</i>Settings</h3>
        </mat-list-item>
        <mat-list-item fxLayout="row" routerLinkActive="router-link-active" (click)="logOut();"
          class="sharezone-list-item">
          <h3 matLine fxLayoutAlign="center center"><i class="material-icons">power_settings_new</i>Logout</h3>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>