.sharezone-base-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    h1.sharezone-app-name {
      margin-left: 8px;
    }
    .sharezone-sidenav-container {
      flex: 1;
      .sharezone-list-item {
        .material-icons {
          margin: 8px;
          color: #3f51b5;
        }
      }
    }
  }
  
  .sharezone-is-mobile .sharezone-toolbar {
    position: fixed;
    z-index: 2;
  }
   
  .sharezone-is-mobile .sharezone-sidenav-container {
    flex: 1 0 auto;
  }
  