<div class="sharezone-container">
    <div *ngIf="loginStatus=='customer-registered'">
        <h4>Looks like you have already registered. We will send you trade call on our Telegram bot, stay tuned.</h4>
    </div>
    <div [hidden]="loginStatus!='customer-new'" id="recaptcha-container"></div>
    <div *ngIf="loginStatus=='customer-new'">
        <h4>Please login/register to continue</h4>
        <form class="registration-form" fxLayout="column">
            <mat-form-field>
                <input name="phoneNumber" matInput placeholder="Phone number" [(ngModel)]="phoneNumber" required>
            </mat-form-field>
            <button mat-button mat-raised-button color="primary" (click)="onLoginClick()">Login/Register</button>
        </form>
    </div>
    <div *ngIf="loginStatus=='otp-check'">
        <h4>Enter the OTP sent to the phone number provided</h4>
        <form class="registration-form" fxLayout="column">
            <mat-form-field>
                <input name="verificationCode" matInput placeholder="Phone number" [(ngModel)]="verificationCode"
                    required>
            </mat-form-field>
            <button mat-button mat-raised-button color="primary" (click)="verfiyOtpAndLogin()">Verify OTP</button>
        </form>
    </div>
    <div *ngIf="loginStatus=='login-success'">
        <h4>Thank you for registering, you will start receiving calls over Telegram bot.</h4>
    </div>
    <div *ngIf="loginStatus=='login-error'">
        <h4>Error in registering, please try again.</h4>
        <button (click)="loginStatus='customer-new'"></button>
    </div>
</div>