<div class="login-container" fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <div fxFlex="60" class="sec1" fxFlex.xs="100" class="login-bg"></div>
    <div fxFlex="40" class="sec2" fxFlex.xs="100" class="login-form-section">
        <!-- // phone number login -->
        <!-- <div [hidden]="showOtp" id="recaptcha-container"></div>
        <div class="example-container" fxLayout="column">
            <mat-form-field *ngIf="!showOtp">
                <input matInput placeholder="Enter your Phone Number" [(ngModel)]="phoneNumber" required>
            </mat-form-field>
            <mat-form-field *ngIf="showOtp">
                <input matInput placeholder="Otp" [(ngModel)]="verficationCode">
            </mat-form-field>
            <button *ngIf="!showOtp" mat-button mat-raised-button color="primary" (click)="goToOtp()">Login</button>
            <button *ngIf="showOtp" mat-button mat-raised-button color="primary" (click)="onClickLogin()">Login</button>
        </div> -->

        <!-- using email login -->

        <div class="example-container" fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Enter Email Address" [(ngModel)]="emailAddress" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" type="password" [(ngModel)]="password">
            </mat-form-field>
            <button mat-button mat-raised-button color="primary"
                (click)="emailLogin(emailAddress,password)">Login</button>
        </div>

    </div>
</div>