.login-container {
    .login-bg {
        background-image: url(../../assets/images/login.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .login-form-section {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}