<div class="sharezone-container">
    <div class="custom-message-form">
        <div class="form-group">
            <mat-form-field class="custom-message-form-field">
                <input matInput type="text"
                    placeholder="Buy VANI COMMERCIAL LTD (BSE Code 538918) AT CMP 54 Short Term TGT 82.85 in 30 Days SL 50 Trade QTY 1280   "
                    [formControl]='custom_message'>
            </mat-form-field>
        </div>
        <div class="form-group">
            <button type="button" class="flat-btn" mat-flat-button color="primary"
                (click)="onSubmit(custom_message.value,'custom' )">Send</button>
        </div>
    </div>
    <div class="main-selection-form">
        <mat-tab-group backgroundColor="primary" (selectedTabChange)="tabChanged($event)" mat-stretch-tabs
            class="sharezone-stretched-tabs mat-elevation-z0">
            <mat-tab label="Index Future">
                <app-call-type-form [type]="'index_future'">
                </app-call-type-form>
            </mat-tab>
            <mat-tab label="Index Options">
                <app-call-type-form [type]="'index_options'">
                </app-call-type-form>
            </mat-tab>
            <mat-tab label="Equity Future">
                <app-call-type-form [type]="'equity_future'">
                </app-call-type-form>
            </mat-tab>
            <mat-tab label="Equity Options">
                <app-call-type-form [type]="'equity_options'">
                </app-call-type-form>
            </mat-tab>
            <mat-tab label="Equity">
                <app-call-type-form [type]="'equity'"></app-call-type-form>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div class="call-messages-section" *ngIf="callsList">
        <app-call-messages [callsList]=callsList (deleteCallO)="deleteCall($event)"></app-call-messages>
    </div>
</div>