.sharezone-container {
    .custom-message-form {
        background-color: #fff;
        padding: 16px;
        margin: 0 0 16px 0;
        border: 1px solid #e7e7e7;
        .custom-message-form-field {
            width: 100% !important;
        }
    }
    .main-selection-form {
        margin: 0 0 16px 0;
        .sharezone-stretched-tabs {
            background-color: #fff;
            border: 1px solid #e7e7e7;
        }
       
    }
}
::ng-deep.mat-toolbar {
    padding: 8px !important;
}