html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.sharezone-container {
    padding: 16px;
}
.mat-sidenav {
    width: 20%;
}
.flat-btn {
    border-radius: 0 !important;
    min-width: 100px !important;
}
.text-success {
    color: #28a745;
}
.text-info {
    color: #17a2b8
}
.text-warning {
    color: #ffc107;
}
.text-danger {
    color: #dc3545;
}
.text-dark {
    color: #343a40;
}
.text-light {
    color: #f8f9fa;
}