.customer-container {
    background-color: #fff;
    padding: 16px;
    margin: 10px;
    border: 1px solid #e7e7e7;

    .add-customer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    table {
        width: 100%;
    }

    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
}

::ng-deep.mat-toolbar {
    padding: 8px !important;
}