<div class="sharezone-container">
    <div class="overview-section" fxLayout="row wrap" fxLayoutGap="8px" fxLayoutAlign="space-between">
        <mat-card class="example-card" fxFlex="22%">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Daily Sales</mat-card-title>
                <mat-card-subtitle> 55% increase in today sales.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-line-chart></app-line-chart>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Get details</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" fxFlex="25%">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Email Subscriptions</mat-card-title>
                <mat-card-subtitle>Last Campaign Performance</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-pie-chart></app-pie-chart>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Get details</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" fxFlex="25%">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Completed Tasks</mat-card-title>
                <mat-card-subtitle>Last Campaign Performance</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-pie-chart></app-pie-chart>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Get details</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" fxFlex="25%">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>$34,245</mat-card-title>
                <mat-card-subtitle>Revenue</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <app-table-chart></app-table-chart>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Get details</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>