<div class="sharezone-container">
    <div fxLayout="row wrap" fxLayoutGap="8px">
        <mat-card class="sharezone-settings-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <i class="material-icons">
                        settings_system_daydream
                    </i>
                </div>
                <mat-card-title>System</mat-card-title>
                <mat-card-subtitle>Display, notifications, power</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="sharezone-settings-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <i class="material-icons">
                        phonelink_setup
                    </i>
                </div>
                <mat-card-title>Phone</mat-card-title>
                <mat-card-subtitle>Link your Android, iPhone</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="sharezone-settings-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <i class="material-icons">
                        network_check
                    </i>
                </div>
                <mat-card-title>Network & Internet</mat-card-title>
                <mat-card-subtitle>WiFi, VPN</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="sharezone-settings-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <i class="material-icons">
                        build
                    </i>
                </div>
                <mat-card-title>Personalization</mat-card-title>
                <mat-card-subtitle>Background, lock screen..</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="sharezone-settings-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <i class="material-icons">
                        dns
                    </i>
                </div>
                <mat-card-title>Apps</mat-card-title>
                <mat-card-subtitle>defaults, optional features</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="sharezone-settings-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <i class="material-icons">
                            account_box
                    </i>
                </div>
                <mat-card-title>Accounts</mat-card-title>
                <mat-card-subtitle>Your accounts, email, sync</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="sharezone-settings-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <i class="material-icons">
                        access_time
                    </i>
                </div>
                <mat-card-title>Time & Language</mat-card-title>
                <mat-card-subtitle>Speech, region, date</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="sharezone-settings-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <i class="material-icons">
                        not_interested
                    </i>
                </div>
                <mat-card-title>Privacy</mat-card-title>
                <mat-card-subtitle>Location, camera</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
        <mat-card class="sharezone-settings-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image">
                    <i class="material-icons">
                        security
                    </i>
                </div>
                <mat-card-title>Update & Security</mat-card-title>
                <mat-card-subtitle>Update, recovery, backup</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </div>
</div>