.sharezone-container {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    .sharezone-settings-card {
        margin: 0 0 8px 0;
        max-width: 250px;
        width: 100%;
        .material-icons {
            color: #3f51b5;
            font-size: 32px;
        }
    }
}